# Cloudflare Web Analytics site token
# Found in Cloudflare Dashboard -> Analytics & Logs -> Web Analytics
PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=

# Sentry DSN URL
# Found in Sentry -> Project Settings -> Client Keys (DSN)
PUBLIC_SENTRY_DSN=
